@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Libre+Baskerville:ital@1&display=swap');

section {
  position: relative;
  display: block;

  /* Background attributes */
  background-color: rgba(255, 255, 255, 1);
  background-image: url(ripan1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;
  background-position: center bottom;

  /* Text attributes */
  text-align: center;

  /* Padding */
  padding: 80px 30px;
}
